body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

/* Login container */
.login {
    width: 80%;
    max-width: 400px;
    margin: 2rem auto;
    padding: 2rem;
    border: 1px solid #620572;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login h1 {
    font-size: 24px;
    color: #000000;
    margin-bottom: 1rem;
}


label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #000000;
}

input[type="text"],
input[type="password"],
input[type="number"],
select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #000000;
    border-radius: 4px;
    transition: border-color 0.3s ease;
    background-color: #f8f8f8;
    color: #333;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
select:focus {
    border-color: #ff9800;
    outline: none;
}

/* Button styling */
button {
    display: block;
    width: 100%;
    padding: 0.75rem;
    background-color: #620572;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff9800;
}

/* Link Style */
a {
    color: #1a1ae4;
    text-decoration: none;
    margin-left: 0.5rem;
    transition: color 0.3s ease;
}

a:hover {
    color: #ff9800;
}

/* Message Style*/
#message {
    margin-top: 1rem;
    color: #f44336;
}

/* Table styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2rem;
    border: 2px solid #620572;
}

th, td {
    border: 1px solid #620572;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

thead {
    background-color: #620572;
    color: white;
}

/* Welcome header */
#welcome {
    text-align: center;
    padding: 2rem;
    font-size: 32px;
    color: #620572;
}
