.login {
    width: fit-content;
    margin: 2rem;
    border: 1px solid black;
    padding: 2rem;
}

table {
    border-collapse: collapse;
}

th, td, tr {
    border: 1px solid black;
    padding: 10px;
    height: 30px;
}

.form {
    border: 1px solid black;
    padding: 10px;
    width: 40%;
    background-color: lightgreen;
}

.delete {
    margin-left: 10px;
    height: 50%;
    text-align: center;
    background-color: red;
    font-size: 10px;
}
